.sidebarRow{
    display: flex;
    align-items: center;
   /* margin-top: 30px; */
    max-width: 250px;
   
    padding: 30px;
    cursor: pointer;
}

.sidebarRow:hover{
    background-color: lightsalmon;
    border-radius: 20px;
  /*  padding-right: 0px; */

    margin-left: 10px;
}

.sidebarRow > h4{
    margin-left: 20px;
    font-weight: 600;
}

.sidebarRow > .MuiSvgIcon-root{
    font-size: xx-large;
    color: black;

}
